.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.gameContainer {
	width: 600px;
	height: 450px;
	border: 1px solid black;
}

.title {
	margin: 24px 0;
}

.titleLink {
	text-decoration: none;
	color: black;
}

.description {
	margin: 16px 0;
}

.returnLink {
	margin-top: 8px;
}

/* below belongs to game container */
.btnKembali {
	height: 80px;
}
.kembaliContainer {
	display: flex;
	justify-content: flex-end;
}
