:root {
	--background: rgb(245, 245, 245);
}

button {
	all: unset;
	text-align: center;
}

body {
	background-color: var(--background);
}

section {
	height: 100%;
	width: 100%;
}

.gameContainer h2,
.gameContainer > section > div > p,
.gameContainer footer > p {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
}

.gameContainer a {
	font-size: 0 !important;
}

pre {
	font-family: initial;
}
