#menu{
    -fx-background-image: url("../images/mainmenu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#btnMain{
    -fx-background-image: url("../images/btnMain.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

#btnCaraMain{
    -fx-background-image: url("../images/btnCaraMain.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

#btnTentang{
    -fx-background-image: url("../images/btnTentang.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}