#menu{
    -fx-background-image: url("../images/pilih.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#tambah{
    -fx-background-image: url("../images/btnTambah.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

#kali{
    -fx-background-image: url("../images/btnKali.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

#kurang{
    -fx-background-image: url("../images/btnKurang.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

#kembali{
    -fx-background-image: url("../images/btnKembali.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}