#backdrop{
    -fx-background-image: url("../images/reward.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#btn1{
    -fx-background-color: #0042ff;
}

#btn2{
    -fx-background-color: #ffff00;
}

#btn3{
    -fx-background-color: #ff00bd;
}

#btn4{
    -fx-background-color: #00ffff;
}

#btn5{
    -fx-background-color: #8400ff;
}

#btn6{
    -fx-background-color: #ff0000;
}

#btn7{
    -fx-background-color: #00ff52;
}

#stopBtn{
    -fx-background-color: #000000;
    -fx-background-radius: 64;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 32;
}