#backdrop{
    -fx-background-image: url("../images/tambah.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#waktuContainer{
    -fx-background-color:  #E6F0FF;
    -fx-background-radius: 6;
}

#waktuVar{
    -fx-background-color:  #FF8C1A;
    -fx-background-radius: 6;
    -fx-text-background-color: #FFFFFF;
}

#benarContainer{
    -fx-background-color:  #E6F0FF;
    -fx-background-radius: 6;
}

#benarVar{
    -fx-background-color:  #FF8C1A;
    -fx-background-radius: 6;
    -fx-text-background-color: #FFFFFF;
}

#salahContainer{
    -fx-background-color:  #E6F0FF;
    -fx-background-radius: 6;
}

#salahVar{
    -fx-background-color:  #FF8C1A;
    -fx-background-radius: 6;
    -fx-text-background-color: #FFFFFF;
}

#soalContainer{
    -fx-background-color:  #E6F0FF;
    -fx-background-radius: 6;
}

#soalVar{
    -fx-background-color:  #FF8C1A;
    -fx-background-radius: 6;
    -fx-text-background-color: #FFFFFF;
}

#jawabanContainer{
    -fx-background-color:  #E6F0FF;
    -fx-background-radius: 6;
}

#jawabanField{
    -fx-background-radius: 6;
}

#soalLabel{
    -fx-background-image: url("../images/dialogBubble.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 125%;
    -fx-background-position: center;
}