#menu{
    -fx-background-image: url("../images/tentanggame.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#btnKembali{
    -fx-background-image: url("../images/btnKembali.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
}